.App {
  text-align: center;
}

.header {
  text-align: center;
  color: #ffcf0e;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.footer-credits{
  color: #e23c62;
  text-align: center;
  margin: 0px 50px
}